<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> debug}}
    <main class="cuerpo">
      {{> navigation}}
      {{> cabecera}}
      <section class="notas">
        {{#data}}
          <form method="POST" action="{{@root.page.host}}/notas/{{id}}/guardar">
            <label for="nota" class="etiqueta">Nota</label>
            <textarea class="campo-texto campo-nota" id="mensaje" name="mensaje" placeholder="Escriba su nota">{{mensaje}}</textarea>
            <input type="submit" value="Guardar" class="btn-enviar" id="" name="" />
          </form>
        {{/data}}
      </section>
    </main>
    {{> pie}}
  </body>
</html>
