<!DOCTYPE HTML>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> debug}}
    <main class="cuerpo">
      {{> navigation}}
      {{> cabecera}}
      <section class="notas">
        <form method="POST" action="{{page.host}}/notas/nuevo">
          <label for="nota" class="etiqueta">Nota</label>
          <textarea class="campo-texto campo-nota" id="nota" name="nota" placeholder="Escriba su nota"></textarea>
          <input type="submit" value="Guardar" class="btn-enviar" id="" name="" />
        </form>
      </section>
    </main>
    {{> pie}}
  </body>
</html>
