@charset "utf-8";

@import "normalize";

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  background-color: #009AA3;
  padding: 15px 0 15px 0;
  margin: 0 0 20px 0;
}

h1 {
  color: #fff;
  font-weight: 300;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 1000px;
  text-align: left;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  color: #666;
}

.doc {
  font-size: 14px;
  margin: 0;
  text-align: center;

  a {
    color: #666;
    text-decoration: none;

    &:hover {
      color: #333;
      text-decoration: underline;
    }
  }
}

.doc:before,
.doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
}

footer {
  padding: 30px 0;
  margin-top: 100px;
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
  }

  img {
    vertical-align: middle;
    height: 35px;
    margin-right: 20px;
  }
}

main {
  width: 1000px;
  margin: 20px auto 0 auto;
}

.content {
  width: 750px;
  margin-left: 250px;
}

.chapter {
  background-color: #fff;
  padding: 10px 20px;
}

aside {
  float: left;
  width: 200px;
  padding: 0 0 20px 0;
  position: fixed;
  margin-top: -30px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #888;

    &:hover {
      text-decoration: underline;
      color: #444;
    }
  }
}

.code {
  padding: 0;
  margin: 0 0 -10px 0;
  font-family: 'Source Code Pro', monospace;
  overflow: auto;

  code {
    font-family: 'Source Code Pro', monospace;
    background-color: #e5e5e5;
    padding: 0px;
    font-size: 1rem;
    display: block;
    margin: 0;
  }

  .folder {
    color: #0174DF;
  }

  .php {
    color: #DF01D7;
  }

  .json {
    color: #04B4AE;
  }

  .imp {
    color: #0174DF;
  }
}

.note {
  background-color: #F5ECCE;
  padding: 10px 15px 10px 40px;
  position: relative;

  &:before {
    content: "!";
    font-size: 2.5em;
    color: #DBA901;
    position: absolute;
    left: 18px;
    top: 3px;
  }
}
