<h2>Usage</h2>

<p>
  To create a new application execute <strong>sake create</strong>.

  <pre class="code">
    <code>
      $ mkdir notes
      $ cd notes
      $ sake create
    </code>
  </pre>

  This command copies all the files for a new Singular application. Now, the directory has the following structure:

  <pre class="code">
    <code>
      <span class="folder">notes/</span>
        +-- <span class="other">.htaccess</span>
        +-- <span class="folder">base</span>
        +-- <span class="folder">config</span>
            +-- <span class="json">app.json</span>
            +-- <span class="json">authorisation.json</span>
        +-- <span class="folder">controllers</span>
            +-- <span class="php">controller.php</span>
        +-- <span class="php">index.php</span>
        +-- <span class="folder">lang</span>
            +-- <span class="json">en.json</span>
        +-- <span class="folder">models</span>
            +-- <span class="php">model.php</span>
        +-- <span class="folder">services</span>
            +-- <span class="php">app_authentication.php</span>
            +-- <span class="php">app_authorisation.php</span>
            +-- <span class="php">app_helpers.php</span>
        +-- <span class="json">singular.json</span>
        +-- <span class="folder">views</span>
        +-- <span class="folder">web</span>
            +-- <span class="folder">css</span>
            +-- <span class="folder">fonts</span>
            +-- <span class="folder">img</span>
            +-- <span class="folder">js</span>
    </code>
  </pre>
</p>
