<h2>Usage</h2>

<p>
  To create a new application execute <strong>sake create</strong>.

  <pre class="code">
    <code>
      $ mkdir notes
      $ cd notes
      $ sake create
    </code>
  </pre>

  This command copies all the files for a new Singular application. Now, the directory has the following structure:

  <pre class="code">
    <code>
      $ mkdir notes
      $ cd notes
      $ sake create
    </code>
  </pre>
</p>
