<h2>Install</h2>

<p>
  Singular, pronounced as /siŋ gu 'lar/, has a command-line tool, <strong>Sake</strong>, that helps you creating new applications with Singular. To install sake simply execute:

  <pre class="code">
    <code>
      $ npm install --global singular_sake
    </code>
  </pre>

  The install of sake creates the global command <strong>sake</strong>.
</p>
